In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [3]:
tp = pd.read_csv('grav.csv')
# Affichage de la taille du dataset (n_lignes and n_colonnes)
print("grav's shape : ", tp.shape)
# Affichage des 10 premi√®res lignes
tp.head()

grav's shape :  (7, 2)

   height  seconds squared
0     100            8.967
1     120           11.989
2     150           15.852
3     180           16.991
4     200           20.284